* {
    box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, p, ul, li {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

html {
    font-family: "FZMW";
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    -webkit-appearance: none;
}

input:focus,
input:active {
    border: 0;
    outline: 0;
    background: transparent;
    -webkit-appearance: none;
}

.btn {
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.content {
    left: 50%;
    top: 50%;
    width: 1280px;
    height: 720px;
    margin-left: -640px;
    margin-top: -360px;
    position: absolute;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;;
    transition: transform .5s ease, -webkit-transform .5s ease;
}

.scene {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;;
}

.color-block {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(/static/img/background.png) no-repeat scroll center center;
    background-size: cover;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: -100;
}

.color-block > .item {
    -webkit-flex: auto;
        -ms-flex: auto;
            flex: auto;
    position: relative;
}

.color-block > .item > img {
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    z-index: 20;
}

.color-block > .item::before,
.color-block > .item::after {
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    transition: background .3s ease;
}

.color-block > .item:nth-child(1)::before {
    background: #fce768;
}

.color-block > .item:nth-child(2)::before {
    background: #c69c6c;
}

.color-block > .item:nth-child(3)::before {
    background: #6cb653;
}

.color-block > .item:nth-child(4)::before {
    background: #277995;
}

.color-block > .item:nth-child(5)::before {
    background: #ec5c41;
}

.color-block > .item:nth-child(6)::before {
    background: #6a6a6a;
}

.color-block > .item:nth-child(7)::before {
    background: #f6d7bb;
}

.color-block > .item:nth-child(8)::before {
    background: #885524;
}

.color-block > .item:nth-child(9)::before {
    background: #de9040;
}

.color-block > .item:nth-child(1).selected::after {
    background: #fce768;
}

.color-block > .item:nth-child(2).selected::after {
    background: #deaf7a;
}

.color-block > .item:nth-child(3).selected::after {
    background: #82d963;
}

.color-block > .item:nth-child(4).selected::after {
    background: #30a2c9;
}

.color-block > .item:nth-child(5).selected::after {
    background: #fe6448;
}

.color-block > .item:nth-child(6).selected::after {
    background: #bdbdb7;
}

.color-block > .item:nth-child(7).selected::after {
    background: #fbe1c9;
}

.color-block > .item:nth-child(8).selected::after {
    background: #b05a1b;
}

.color-block > .item:nth-child(9).selected::after {
    background: #ee9941;
}

.shadow-light::after {
    background: rgba(124, 124, 124, 0.15);
}

.shadow-heavy::after {
    background: rgba(124, 124, 124, 0.3);
}

.back-ec5c41 {
    background: #ec5c41;
}

.back-1b5f74 {
    background: #1b5f74;
}

.box {
    border: 20px solid transparent;
    border-radius: 20px;
    display: inline-block;
    transition: background .5s ease;
}

.box-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: inline-block;
    transition: background .5s ease;
}

.box.small {
    border-width: 10px;
    border-radius: 10px;
}

.box.small .box-wrapper {
    border-radius: 10px;
}

.fade-transition {
    opacity: 1;
    transition: opacity .2s ease;
}

.fade-enter, .fade-leave {
    opacity: .9;
}

@font-face {
    font-family: "FZMW";
    src: url(/static/font/FZMW.TTF) format('truetype');
}
