<template>

    <div :style="{ 'transform': 'scale(' + scale + ')' }" class="content">
        <component :is="currentScene" transition="fade" transition-mode="out-in"></component>
    </div>

</template>

<script>

    import api from "../api";
    import store from "../store";

    import Load from "./Load.vue";
    import Login from "./Login.vue";
    import Center from "./Center.vue";
    import Room from "./Room.vue";
    import Game from "./Game.vue";

    export default {
        name: "app",
        data() {
            return {
                // scene: 2,
                // currentScene: "game",
                scale: 1,
                scene: 0,
                currentScene: "load",
                scenes: [ "load", "login", /*"center", "room",*/ "game" ],
            };
        },
        components: {
            Load,
            Login,
            Center,
            Room,
            Game,
        },
        methods: {
            resize() {
                const width = window.innerWidth;
                const height = window.innerHeight;
                this.scale = (width / height > 16 / 9) ? (height / 720) : (width / 1280);
            },
        },
        events: {
            "scene-next"() {
                if (this.scene === 1) {
                    api.socket.connect();
                    store.user.notifyServer();
                }
                this.scene += 1;
                this.currentScene = this.scenes[this.scene];
            },
        },
        ready() {
            this.resize();
            window.addEventListener("resize", () => {
                this.resize();
            });
        },
    };

</script>

<style>

</style>
