<template>

    <div>
        <p>Center</p>
    </div>

</template>

<script>

    export default {
        name: "center",
        data() {
            return {
            };
        },
        components: {
        },
        methods: {
        },
    };

</script>
