<template>

    <div>
        <div class="scene">
            <div class="color-block"></div>
            <div @click="back" class="back"></div>
            <template v-for="index in order.length">
                <div v-if="index > 0" :class="[ 'user-' + index ]" class="user">
                    <div :style="{ 'background': colors[avatar[index]] }" class="box">
                        <div class="box-wrapper">
                            <img :src="avatar[index]">
                        </div>
                        <div :style="{ 'background': colors[avatar[index]] }" class="digit">{{ remain[index] }}</div>
                    </div>
                    <div :style="{ 'background': colors[avatar[index]] }" class="name">{{ order[index] }}</div>
                </div>
            </template>
            <div class="bottom">
                <div :style="{ 'background': back[color] }" class="user box">
                    <div class="box-wrapper">
                        <img :src="avatar[0]">
                    </div>
                </div>
                <div :style="{ 'background': back[color] }" class="draw box">
                    <div :style="{ 'color': back[color] }" class="box-wrapper">确定</div>
                </div>
                <div :style="{ 'background': back[color] }" class="undo box">
                    <div :style="{ 'color': back[color] }" class="box-wrapper">取消</div>
                </div>
                <div :style="{ 'background': back[color] }" class="area box">
                    <div class="box-wrapper">
                        <img v-for="item in card" :src="cardImage(item)">
                    </div>
                    <div :style="{ 'background': back[color] }" class="digit">{{ remain[0] }}</div>
                </div>
            <div>
            <div :style="{ 'background': back[color] }" class="log box">
                <div class="box-wrapper">
                    <h1>出牌记录</h1>
                    <p v-for="item in log">{{ item }}</p>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

    import api from "../api";
    import res from "../res";
    import store from "../store";

    export default {
        name: "game",
        data() {
            return {
                direction: 1,
                card: [],
                remain: [],
                order: [],
                len: 0,
                now: 0,
                direction: 1,
                color: "red",
                number: -1,
                avatar: [],
                log: [],
                colors: {
                    "/static/img/hero/Loki.png": "#fce768",
                    "/static/img/hero/Fury.png": "#deaf7a",
                    "/static/img/hero/Hulk.png": "#82d963",
                    "/static/img/hero/American.png": "#30a2c9",
                    "/static/img/hero/Iron.png": "#fe6448",
                    "/static/img/hero/Raytheon.png": "#bdbdb7",
                    "/static/img/hero/Widow.png": "#fbe1c9",
                    "/static/img/hero/Gay.png": "#b05a1b",
                    "/static/img/hero/Hawkeye.png": "#ee9941",
                },
                back: {
                    "red": "#ec5c41",
                    "green": "#6cb653",
                    "blue": "#1b5f74",
                    "yellow": "#ffe764",
                },
                images: [],
            };
        },
        watch: {
            card() {
                for (let i = 0; i < this.card.length; i++) {
                    this.images[i] = this.cardImage(this.card[i]);
                }
            },
        },
        components: {
        },
        methods: {
            cardValid(card) {
                if (color === "") {
                    return true;
                }
                else if ((card.color === color) || (card.number === number)) {
                    return true;
                }
                else if (card.color === "black") {
                    return true;
                }
                return false;
            },
            cardApply(card) {
                if (card.number === 10) {
                    this.now = (this.now + 2 * this.direction + this.len) % this.len;
                }
                else{
                    if (card.number === 11) {
                        this.direction = (this.direction === 1) ? -1 : 1;
                    }
                    this.now = (this.now + 1 * this.direction + this.len) % this.len;
                }

                if (card.number === 14) {
                    this.remain[this.now] += 4;
                }
                else if (card.number === 12) {
                    this.remain[this.now] += 2;
                }

                if ((card.number === this.number) && (card.color !== this.color)) {
                    this.changeColor(this.color);
                }
                else if (card.number === 13) {
                    this.changeColor();
                }

                this.number = card.number;
            },
            changeColor(color = null) {
                if (color) {
                    this.color = color;
                }
                else {
                }
            },
            playAHand({ user, card, is_over }) {
                card.number = Number(card.number);
                if (user === order[now]) {
                    if (!this.cardValid(card)) {
                        window.console.log(user + "  play a hand  error !");
                        return;
                    }
                    cardApply(card);
                    this.next();
                }
                this.log.push(user + " 出了" + card.color + " " + card.number);
            },
            drawCard(card) {
                this.card.push(card);
                this.log.push(this.order[0] + " 摸了1张牌");
            },
            roomMemberUpdate({ name, avatar }) {
                this.order.push(name);
                this.avatar.push(avatar);
                this.remain.push(7);
                if ((++this.len) === 4) {
                    store.game.send("game_start");
                    this.start();
                }
                this.log.push(name + " 进入了房间");
            },
            start() {
                this.log.push("开始游戏");
                this.next();
            },
            next() {
                this.log.push("轮到 " + this.order[this.now] + " 的回合");
            },
            cardImage(card) {
                let query = "";
                if (card.color === "black") {
                    query = (card.number == 13) ? "" : "draw4"
                }
                else {
                    let map = [
                        0,
                        1,
                        2,
                        3,
                        4,
                        5,
                        6,
                        7,
                        8,
                        9,
                        "skip",
                        "reverse",
                        "+2",
                        "",
                        "+4",
                    ];
                    query = card.color + "_" + map[Number(card.number)];
                }
                // console.log(query + ".png");
                return res.get(query + ".png");
            },
        },
        ready() {
            store.game.getInfo(({ first, card, order, avatar }) => {
                console.log(order);
                this.now = first;
                this.direction = 1;
                this.card = card;
                this.order = order;
                this.avatar = avatar;
                this.len = this.order.length;
                this.remain = new Array(order.length).fill(7);
                store.game.subscribe({
                    "room_member_update": this.roomMemberUpdate,
                    "play_a_hand": this.playAHand,
                    "draw_card": this.drawCard,
                });
            });
        },
    };

</script>

<style scoped>

    .color-block {
        background: url(/static/img/background.png);
    }

    .color-block::after {
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(204, 204, 204, 0.18);
        position: absolute;
    }

    .user {
        width: 150px;
        height: 171px;
        color: #fff;
        position: absolute;
    }

    .user-1 {
        left: 35px;
        top: 126px;
    }

    .user-2 {
        left: 414px;
        top: 30px;
    }

    .user-3 {
        left: 794px;
        top: 126px;
    }

    .box,
    .box-wrapper {
        border-radius: 5px;
        border: 10px solid transparent;
    }

    .box-wrapper {
        background: #fff;
    }

    .box-wrapper > img {
        width: 100%;
        height: 100%;
    }

    .digit {
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        font-size: 35px;
        position: absolute;
        text-align: center;
        border-radius: 5px;
    }

    .name {
        margin-top: 10px;
        text-align: center;
        font-size: 20px;
        border-radius: 5px;
        line-height: 1.3;
    }

    .log {
        position: absolute;
        left: 980px;
        top: 0px;
        width: 300px;
        height: 520px;
    }

    .bottom .user {
        position: absolute;
        left: 1080px;
        top: 520px;
        width: 200px;
        height: 200px;
    }

    .bottom .draw {
        position: absolute;
        left: 980px;
        top: 520px;
        width: 100px;
        height: 100px;
        font-size: 25px;
    }

    .bottom .undo {
        position: absolute;
        left: 980px;
        top: 620px;
        width: 100px;
        height: 100px;
        font-size: 25px;
    }

    .bottom .area {
        position: absolute;
        left: 0px;
        top: 520px;
        width: 980px;
        height: 200px;
    }

    .bottom .area img {
        float: left;
        margin-right: 5px;
        width: 105px;
        height: 164px;
    }

</style>
