<template>

    <div class="scene">
        <ul class="color-block">
            <li class="item shadow-light "><img src="/static/img/hero/Loki.png"></li>
            <li class="item shadow-light "><img src="/static/img/hero/Fury.png"></li>
            <li class="item shadow-light "><img src="/static/img/hero/Hulk.png"></li>
            <li class="item shadow-light "><img src="/static/img/hero/American.png"></li>
            <li class="item shadow-light "><img src="/static/img/hero/Iron.png"></li>
            <li class="item shadow-light "><img src="/static/img/hero/Raytheon.png"></li>
            <li class="item shadow-light "><img src="/static/img/hero/Widow.png"></li>
            <li class="item shadow-light "><img src="/static/img/hero/Gay.png"></li>
            <li class="item shadow-light "><img src="/static/img/hero/Hawkeye.png"></li>
        </ul>
        <div v-el:wrapper class="wrapper">
            <img class="title" src="/static/img/UNO.png">
            <div @click="next" class="loading btn" :class="[ loaded === total ? finished : '' ]">
                <div v-el:loading-fill class="loading-fill back-1b5f74">START</div>
                <div :style="{ 'width': this.percent + '%' }" class="loading-fill back-ec5c41">
                    <div v-el:loading-circle class="loading-circle"></div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

    import res from "../res";
    import store from "../store";

    export default {
        name: "load",
        data() {
            return {
                loaded: 0,
                total: 1,
                percent: 0,
                finished: "finished",
            };
        },
        computed: {
            percent() {
                let per = this.loaded / this.total * 100;
                this.$els.loadingCircle.style.left = (this.$els.loadingFill.offsetWidth - 34) * per / 100 + "px";
                return (this.loaded / this.total * 100);
            },
        },
        methods: {
            load() {
                res.pre().then(() => {
                    this.loaded = 0;
                    this.total = res.load((name) => {
                        this.loaded += 1;
                    });
                });
            },
            next() {
                if (this.loaded === this.total) {
                    this.$dispatch("scene-next");
                }
            },
        },
        ready() {
            this.load();
        },
    };

</script>

<style scoped>

    .wrapper {
        height: 520px;
        text-align: center;
    }

    .title {
        margin: 0 auto;
        padding: 100px 0;
        display: block;
    }

    .loading {
        width: 500px;
        height: 40px;
        margin: 0 auto;
        margin-top: 20px;
        background: #fff;
        border: 5px solid #fff;
        border-radius: 15px;
        position: relative;
        transition: width .5s ease 1s, height .5s ease 1s, margin .5s ease 1s;
    }

    .loading-fill {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        position: absolute;
        transition: opacity .5s ease 1s, color .4s ease 1.3s;
    }

    .loading-fill:nth-child(1) {
        color: transparent;
        letter-spacing: 2px;
    }

    .loading-circle {
        top: -4px;
        left: -5px;
        width: 41px;
        height: 37px;
        background: url(/static/img/shield.png);
        position: absolute;
        transition: transform .5s ease .5s;
    }

    .finished.loading {
        margin: 0 auto;
        width: 200px;
        height: 70px;
        text-align: center;
        line-height: 70px;
        cursor: pointer;
    }

    .finished .loading-fill:nth-child(1) {
        padding: 2px;
        color: #fff;
        font-size: 62px;
        position: static;
    }

    .finished .loading-fill:nth-child(2) {
        opacity: 0;
    }

    .finished .loading-circle {
        transform: scale(0, 0);
    }

</style>
