<template>

    <div @mousemove="hover" @mouseleave="leave" class="scene">
        <ul class="color-block">
            <li v-for="index in images.length" :class="[ index === target ? 'selected' : '' ]" class="item shadow-heavy">
                <img :src="images[index]">
            </li>
        </ul>
        <div @mousemove.stop.prevent v-el:wrapper class="wrapper">
            <div :style="{ 'background': colors[target] }" class="avatar box">
                <div class="box-wrapper">
                    <img :src="images[target]">
                </div>
            </div>
            <div class="row">
                <div class="label-name box small">
                    <div :style="{ 'background': colors[target] }" class="box-wrapper">
                        <span>尊姓<br>大名</span>
                    </div>
                </div>
                <div class="input-name box small">
                    <div :style="{ 'background': colors[target] }" class="box-wrapper">
                        <input v-model="user.name" autofocus>
                    </div>
                </div>
            </div>
            <div @click="startGame" class="start-game box small btn">
                <div :style="{ 'background': colors[target] }" class="box-wrapper">
                    <p>开始游戏！</p>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

    import res from "../res";
    import store from "../store";

    export default {
        name: "login",
        data() {
            return {
                width: 0,
                user: {
                    login: null,
                    name: "",
                    avatar: "",
                },
                target: 0,
                last: 0,
                images: [
                    "/static/img/hero/Loki.png",
                    "/static/img/hero/Fury.png",
                    "/static/img/hero/Hulk.png",
                    "/static/img/hero/American.png",
                    "/static/img/hero/Iron.png",
                    "/static/img/hero/Raytheon.png",
                    "/static/img/hero/Widow.png",
                    "/static/img/hero/Gay.png",
                    "/static/img/hero/Hawkeye.png",
                ],
                colors: [
                    "#fce768",
                    "#deaf7a",
                    "#82d963",
                    "#30a2c9",
                    "#fe6448",
                    "#bdbdb7",
                    "#fbe1c9",
                    "#b05a1b",
                    "#ee9941",
                ],
            };
        },
        methods: {
            hover(event) {
                this.last = this.target;
                this.target = parseInt(event.clientX / (this.width / 9));
                if (this.target >= 9) {
                    this.target = 8;
                }
            },
            leave(event) {
                this.target = this.last;
            },
            resize() {
                const outerHeight = this.$el.offsetHeight;
                const innerHeight = this.$els.wrapper.offsetHeight;
                this.$el.style.paddingTop = (outerHeight - innerHeight) / 2 + "px";
            },
            startGame() {
                if (this.user.name.length > 0) {
                    this.user.avatar = this.images[this.target];
                    store.user.login(this.user).then(() => {
                        this.$dispatch("scene-next");
                    }).catch(() => {
                        this.user.name = "";
                    });
                }
            },
        },
        ready() {
            this.width = this.$el.offsetWidth;
            this.resize();
            window.addEventListener("resize", () => {
                this.resize();
            });
        },
    };

</script>

<style scoped>

    .scene {
        padding: 0 100px;
    }

    .wrapper {
        top: -50px;
        height: 400px;
        padding-left: 460px;
        color: #fff;
        font-size: 50px;
        font-weight: bold;
        position: relative;
    }

    .avatar {
        left: 0;
        top: 0;
        height: 400px;
        width: 400px;
        position: absolute;
    }

    .avatar img {
        width: 100%;
        height: 100%;
    }

    .avatar .box-wrapper {
        background: #fff;
    }

    .row {
        display: flex;
        justify-content: space-between;
    }

    .label-name,
    .input-name,
    .start-game {
        background: #fff;
    }

    .label-name {
        margin-right: 60px;
        flex: none;
    }

    .label-name .box-wrapper {
        padding: 10px;
    }

    .input-name {
        height: 154px;
        font-size: 50px;
        line-height: 154px;
        flex: auto;
    }

    .input-name input {
        width: 100%;
        color: #fff;
        padding: 0 20px;
        font-size: inherit;
    }

    .start-game {
        width: 100%;
        height: 140px;
        margin-top: 103px;
        line-height: 140px;
        text-align: center;
        letter-spacing: 10px;
    }

    .start-game p {
        padding-left: 50px;
        letter-spacing: 40px;
    }

</style>
